.tt-404 {
  color: white;
}

.tt-404__cont {
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tt-404__header {
  letter-spacing: $tt-letter-spacing;

  h1 {
    margin: 0;
    font-size: 4.5em !important;
  }

  span {
    display: block;
  }
}