.tt-404 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  .tt-btn {
    margin: 25px 0 60px 0;
  }
}

.tt-404__cont {
  text-align: center;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-family: Aurebesh;
    letter-spacing: 3px;
    font-weight: bold;
  }
}

.tt-404__header {
  margin-bottom: 0;
  font-size: 4.5em !important;
  letter-spacing: 3px;
  color: $tt-red;
}
