.tt-404 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  .tt-btn {
    margin: 25px 0 60px 0;
  }
}

.tt-404__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.tt-404__header {
  margin-bottom: 0;
  font-family: Aurebesh;
  font-size: 4.5em !important;
  color: $tt-red;
}

.tt-404__img {
  height: 48vh;
}
