.tt-article {
  .fb-post,
  .twitter-tweet,
  .instagram-media {
    display: block;
    max-width: 100%;
    margin: $tt-spacing-xs auto !important;
  }

  .fb-post {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
  }

  iframe {
    display: block;
    margin: $tt-spacing-xs auto !important;
    max-width: 100% !important;
  }

  figure {
    margin: 0;
  }

  p {
    margin-top: $tt-spacing-xs !important;
  }
}

.tt-article__header {
  h3, p {
    margin: 0;
  }
}

.tt-article__section {
  margin-top: $tt-spacing-lg;
}

.tt-article_module {
  &:not(:first-child) {
    margin-top: $tt-spacing-sm;
  }
}

.tt-article__more {
  padding: $tt-spacing-lg 0;
  text-align: center;

  &:nth-child(2n+0) {
    position: relative;
    background-image: url("../img/sand-bg.jpg");
    background-size: cover;
    background-position: center;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $tt-sand-transp;
      z-index: 1;
    }

    & * {
      z-index: 9;
    }

    .tt-header--section span {
      color: $tt-sand-light;
    }
  }
}

.tt-article__info__social {
  margin-bottom: $tt-spacing-md;
}

.tt-article__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;

  img {
    border-radius: 50%;
    border: $border-baseline solid $tt-sand;
    width: 100px;
    height: 100px;
    margin-bottom: $tt-spacing-xs;
  }
}

.tt-article__section {
  ul:not(.tt-article__info):not(.tt-social) {
    list-style-type: none;
    border-spacing: 0 $tt-spacing-xs;
    margin: $tt-spacing-xs 0;

    li {
      display: table-row;

      &:before {
        content: "\f111";
        padding-right: $tt-spacing-xs;
        display: table-cell;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $tt-sand-dark;
      }
    }
  }

  ol {
    margin: $tt-spacing-xs 0;
    padding: 0;
    list-style-type: none;

    li {
      counter-increment: step;
      position: relative;
      line-height: $tt-line-height;
      padding-left: 2.5rem;

      &:not(:first-child) {
        margin-top: $tt-spacing-xs;
      }

      &:before {
        content: counter(step, decimal-leading-zero);
        position: absolute;
        font-family: $header-font-family;
        font-weight: 600;
        top: 0;
        left: 0;
        font-size: 1.5625rem;
        color: $tt-sand-dark;
      }
    }
  }

  .tt-quote__cont {
    border-top: $border-baseline solid $tt-sand;
    border-bottom: $border-baseline solid $tt-sand;
    text-align: center;

    q {
      &:before, &:after {
        content: none;
      }

      p {
        margin: 0;
      }
    }
  }

  .tt-quote {
    margin: 0;
    padding: 30px 0;

    q {
      display: block;
    }

    .fa-quote-right,
    .fa-quote-left {
      font-size: 3em;
      color: $tt-sand-dark;
    }

    .fa-quote-left {
      margin-bottom: $tt-spacing-sm;
    }

    .fa-quote-right {
      margin-top: $tt-spacing-sm;
    }

    cite {
      display: block;
      margin-top: $tt-spacing-sm;
      font-style: inherit;
      font-weight: 700;
      letter-spacing: $tt-letter-spacing;
    }
  }

  .tt-quote--with-img {
    margin-top: $tt-spacing-lg;
  }

  .tt-quote__img {
    $tt-quote-img-size: 100px;
    $tt-quote-img-size-half: calc(-#{$tt-quote-img-size} / 2);
    width: $tt-quote-img-size;
    height: $tt-quote-img-size;
    margin-top: #{$tt-quote-img-size-half};
    border-radius: 50%;
    border: $border-baseline solid $tt-sand;
  }

    a:not(.tt-btn):not(.tt-social__icon):not(.nc_tweet) {
      padding: 1px 0;
      font-weight: 700;
      box-shadow: inset 0 -3px 0 $tt-sand;
      transition: $transition;
      color: $tt-text;
  
      &:hover,
      &:focus {
        text-decoration: none;
        outline: none;
        color: $tt-text;
        box-shadow: inset 0 -3px 0 $tt-sand-dark;
      }
    }
}

.tt-article__header--excerpt {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  margin-bottom: $tt-spacing-md;

  P {
    line-height: $tt-line-height !important;
  }
}

.tt-article__spoiler__cont {
  padding: 0;
}

.tt-article__spoiler {
  padding: $tt-spacing-md 0;
  background-color: $tt-sand;
  text-align: center;
  position: relative;
  letter-spacing: $tt-letter-spacing;
  text-transform: uppercase;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 12px;
    width: 100%;
    background: repeating-linear-gradient(
      -45deg,
      $tt-purple-bg,
      $tt-purple-bg 12px,
      transparent 10px,
      transparent 23px
    );
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  span {
    font-family: $aurebesh;
  }

  h2 {
    margin: 0;
  }
}

.tt-img {
  padding: 0;
}

.tt-article__img {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.tt-article__img--full,
.tt-article__img--left,
.tt-article__img--right {
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tt-article__img--left,
.tt-article__img--right {
  @media (min-width: 992px) {
    aspect-ratio: 16 / 8;
  }
}

.tt-article__img--full {
  @media (min-width: 992px) {
    aspect-ratio: 16 / 7;
  }
}

.tt-masthead img {
  display: none;
}

.tt-article__img--full__cont,
.tt-article__img--left__cont,
.tt-article__img--right__cont {
  img {
    display: none;
  }
}

.tt-article__img--full__cont {
  text-align: center;
}

.tt-article__img--left__cont {
  @media (min-width: 992px) {
    .tt-caption {
      text-align: right;
    }
  }
}

.tt-article__img--right__cont {
  @media (min-width: 992px) {
    .tt-caption {
      text-align: left;
    }
  }
}

.tt-article__img--gallery__cont {
  text-align: center;

  .gallery__cont {
    position: relative;
  }

  .swiper-pagination-bullet {
    background-color: transparentize($tt-sand, 0.2);
  }

  .swiper-pagination-bullet-active {
    background-color: $tt-sand;
  }

  .tt-caption {
    display: block;
  }
}

.tt-article__img--gallery {
  width: 100%;

  .swiper-wrapper {
    align-items: center;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;

      img {
        width: auto;
        height: 200px;

        @media (min-width: 768px) {
          height: 300px;
        }

        @media (min-width: 992px) {
          height: 500px;
        }
      }
    }
  }
}

.tt-video__cont {
  padding: 0;

  .tt-caption {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.tt-video {
  position: relative;
  aspect-ratio: 16 / 9;

  iframe,
  object,
  embed {
    width: 100%;
    height: 100%;
    margin: 0 !important;
  }
}

.tt-member-card__cont {
  $tt-member-img-size: 150px;
  $tt-member-img-size-half: calc(-#{$tt-member-img-size} / 2);

  margin-top: calc((#{$tt-member-img-size} / 2) + #{$tt-spacing-md});
  border-top: $border-baseline solid $tt-sand;
  border-bottom: $border-baseline solid $tt-sand;
  text-align: center;

  .tt-member-card {
    img {
      
      width: $tt-member-img-size;
      height: $tt-member-img-size;
      margin-top: #{$tt-member-img-size-half};
      border-radius: 50%;
      border: $border-baseline solid $tt-sand;
      box-sizing: border-box;
    }
}

  .tt-social {
    margin-top: $tt-spacing-md;
  }
}

.tt-member-card__info {
  padding: $tt-spacing-md 0;

  .tt-header {
    margin: 0;
  }
}

.tt-member--bio {
  p {
    margin: 0;
    font-style: italic;
  }
}

// Facebook Terms Styles
.fb-legal {
  font-size: 0.8em;
  margin-bottom: $tt-spacing-sm;
}

.swp_social_panel {
  border: solid $border-baseline $tt-sand !important;
  background-color: $tt-purple-bg !important;
  border-radius: $border-radius !important;
  z-index: 9;
  margin: 0 !important;

  .total_shares:before,
  .total_shares span {
    color: white !important;
  }

  .nc_tweetContainer:not(.total_shares):not(.total_sharesalt) {
    border: none !important;
  }
}

.nc_floater,
.swp_social_panelSide {
  background-color: transparentize($tt-purple-bg, 0.10) !important;
}

.tt-article__cta {
  text-align: center;

  .tt-btn {
    margin: $tt-spacing-xs 0;
  }
}

.tt-lightgallery--item {
  cursor: pointer;
}

.lg-icon {
  color: $tt-sand !important;

  &:hover,
  &:focus {
    color: $tt-sand !important;
  }
}

.lg-on {
  overflow: hidden;
}

.lg-backdrop {
  background-color: $tt-purple-bg;
}

#lg-counter {
  color: $tt-sand !important;
}

.lg-sub-html,
.lg-toolbar,
.lg-actions .lg-next,
.lg-actions .lg-prev {
  background-color: $tt-purple-bg-transp;
}