$tt-media-margin: 20px;

.tt-article {
  padding: 0 !important;
  .tt-member-card {
    @media (min-width: 1200px) {
      width: 70%;
    }
  }

  @media (max-width: 1099px) {
    .tt-footer__legal-links {
      padding: 30px 0 100px 0;
    }
  }
}

.tt-article__cont {
  margin-top: $content-spacing;
}

.tt-article__cont,
.tt-legal__cont {
  h2 {
    border-left: solid $border-baseline $tt-sand;
    padding-left: 10px;
  }
}

.tt-article__category {
  font-family: newAurabesh;
  letter-spacing: 3px;
  color: $tt-rose;
}

.tt-article__info__social {
  margin: 30px 0;
}

.tt-article__info {
  margin-bottom: $content-spacing;
  padding: 0;
  font-size: 0.9em;
  list-style-type: none;
  text-align: center;

  li img {
    border-radius: 50%;
    border: $border-baseline solid $tt-sand;
    width: 100px;
  }

  li:not(last-child) {
    margin-bottom: 10px;
    position: relative;
  }

  .tt-article__info--author {
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.tt-article__cont,
.tt-legal__cont {
  ul:not(.tt-article__info) {
    padding: 0;
    list-style-type: none;
    border-collapse: separate;
    border-spacing: 0 10px;
    line-height: 1.75rem;

    .fa-ellipsis-h {
      padding-right: 15px;
      color: $tt-rose;
    }

    li {
      display: table-row;

      &:before {
        content: "\f111";
        padding-right: 1rem;
        display: table-cell;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $tt-rose;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  ol {
    list-style-type: none;
    padding: 0;

    li {
      counter-increment: step;
      position: relative;
      font-size: 1rem;
      line-height: 1.75rem;
      margin-bottom: 1.5rem;
      padding-left: 4.5rem;

      &:before {
        content: counter(step, decimal-leading-zero);
        position: absolute;
        font-family: $article-header-font-family;
        font-weight: 600;
        top: 0;
        left: 0;
        font-size: 1.5625rem;
        line-height: 1.75rem;
        color: $tt-rose;
        width: 3rem;
        border-right: $border-baseline solid $tt-sand;
      }
    }
  }

  .tt-quote__cont {
    margin: $tt-media-margin 0;
    border-top: $border-baseline solid $tt-sand;
    border-bottom: $border-baseline solid $tt-sand;
    text-align: center;

    q {
      &:before, &:after {
        content: none;
      }

      p {
        margin: 0;
      }
    }
  }

  .tt-quote {
    margin: 0;
    padding: 40px 0;
    border-left: 0;

    q {
      display: block;
      color: $tt-dark-theme-bg;
    }

    .fa-quote-right,
    .fa-quote-left {
      font-size: 3em;
      color: $tt-rose-transp;
    }

    .fa-quote-left {
      margin-bottom: 10px;
    }

    .fa-quote-right {
      margin-top: 10px;
    }

    cite {
      display: block;
      margin-top: 20px;
      color: $tt-rose;
      font-family: $article-header-font-family;
      font-style: inherit;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
  }

  .tt-quote--with-img {
    margin-top: 50px + $tt-media-margin;

    .tt-quote {
      padding-top: 20px;
    }
  }

  .tt-quote--dark {
    background-color: $tt-dark-theme-bg;
    color: white;
  }

  .tt-quote__img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    border: $border-baseline solid $tt-sand;
    box-sizing: border-box;
  }

  a:not(.tt-btn) {
    padding: 1px 0;
    font-weight: 700;
    color: $tt-text-dark;
    box-shadow: inset 0 -3px 0 $tt-rose-transp;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $tt-text-dark;
      box-shadow: inset 0 -3px 0 $tt-rose;
    }
  }
}

.tt-article__header,
.tt-category__header {
  span {
    color: var(--category-color, $tt-rose);
  }

  h1:after,
  h2:after {
    border-bottom-color: var(--category-color, $tt-sand);
  }
}

.tt-article__header--excerpt p {
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.5em !important;
}

.tt-article__spoiler {
  margin: 20px 0;
  padding: 30px 0;
  background-color: $tt-yellow;
  color: $tt-text-dark;
  text-align: center;
  position: relative;
  letter-spacing: 3px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 12px;
    width: 100%;
    background: $tt-red-warning;
    background: repeating-linear-gradient(
      -45deg,
      $tt-red-warning,
      $tt-red-warning 12px,
      transparent 10px,
      transparent 23px
    );
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  span {
    font-family: $aurebesh;
  }

  h2 {
    border-left: 0;
    margin: 0;
    padding-left: 0;
  }
}

.tt-article__img {
  margin: $tt-media-margin 0;
  text-align: center;

  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.tt-article__img--full,
.tt-article__img--left,
.tt-article__img--right {
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: 768px) {
    padding-bottom: 45.25%;
  }

  @media (min-width: 1600px) {
    padding-bottom: 40.25%;
  }
}

.tt-masthead img {
  display: none;
}

.tt-article__img--full__cont,
.tt-article__img--left__cont,
.tt-article__img--right__cont {
  img {
    display: none;
  }
}

.tt-article__img--full__cont {
  text-align: center;
}

.tt-article__img--left__cont {
  @media (min-width: 992px) {
    .tt-caption {
      text-align: right;
    }
  }
}

.tt-article__img--right__cont {
  @media (min-width: 992px) {
    .tt-caption {
      text-align: left;
    }
  }
}

.tt-article__img--gallery__cont {
  margin-top: $tt-media-margin;
  margin-bottom: $tt-media-margin;
  text-align: center;

  .gallery__cont {
    position: relative;
  }

  .swiper-pagination-bullet-active {
    background-color: $tt-rose;
  }

  .tt-caption {
    display: block;
  }
}

.tt-article__img--gallery {
  width: 100%;

  .swiper-wrapper {
    align-items: center;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;

      img {
        width: auto;
        height: 200px;

        @media (min-width: 768px) {
          height: 300px;
        }

        @media (min-width: 992px) {
          height: 500px;
        }
      }
    }
  }
}

.fb-post,
.twitter-tweet,
.instagram-media {
  margin: $tt-media-margin auto !important;
}

.fb-post {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;

  iframe {
    max-width: 100% !important;
  }
}

.tt-article__spoiler__cont {
  padding: 0;
}

.tt-video__cont {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;

  .tt-caption {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.tt-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    border: 0;
  }
}

.tt-member-card {
  width: 100%;
  margin: 30px auto 0 auto !important;
  padding: 0.6rem 0 !important;
  display: flex;

  @media (min-width: 768px) {
    width: 50%;
    padding: 0.6rem !important;
  }

  @media (min-width: 992px) {
    width: 33.3333%;
  }
  
  .tt-social {
    margin-top: 25px;

    .tt-social__icon {
      color: $tt-rose;
  
      &:hover,
      &:focus {
        color: $tt-rose;
        text-shadow: 0 0 5px $tt-rose;
      }
    }
  }
}

.tt-member--bio {
  position: relative;
  overflow-x: hidden;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  word-break: break-word;

  p {
    margin: 0;
    font-style: italic;
  }
}

.tt-member-card__inner {
  text-align: center;
  padding: 25px;
  background-color: $tt-dark-theme-bg;
  color: white;
  border-radius: 0 2rem;
  border: solid $border-baseline $tt-sand;
  width: 100%;
  height: 100%;
  margin-top: 98px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .tt-member-card__img {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 60%;
      border-radius: 50%;
      margin-top: -123px;
      border: solid $border-baseline $tt-sand;
    }
  }

  .tt-header {
    margin: 25px 0 0 0;
  }
}

// Facebook Terms Styles
.fb-legal {
  font-size: 0.8em;
  margin-bottom: 20px;

  a {
    padding: 1px 0;
    font-weight: 700;
    color: $tt-text-dark;
    box-shadow: inset 0 -3px 0 $tt-rose-transp;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;
      color: $tt-text-dark;
      box-shadow: inset 0 -3px 0 $tt-rose;
    }
  }
}

.swp_social_panel {
  border: solid $border-baseline $tt-sand !important;
  border-radius: 0 2rem !important;
  background-color: $tt-dark-theme-bg !important;
  z-index: 9;

  .total_shares:before,
  .total_shares span {
    color: white !important;
  }

  .nc_tweetContainer:not(.total_shares):not(.total_sharesalt) {
    border: none !important;
  }
}

.nc_floater,
.swp_social_panelSide {
  background-color: transparentize($tt-dark-theme-bg, 0.10) !important;
}

.tt-img {
  padding: 0;
}

.tt-article__cta {
  text-align: center;

  .tt-btn {
    margin-top: 20px;
  }
}

.tt-article__more-articles-cta {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tt-btn:not(last-child) {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.tt-lightgallery--item {
  cursor: pointer;
}

.lg-icon {
  color: $tt-rose !important;

  &:hover,
  &:focus {
    color: $tt-rose !important;
  }
}

.lg-on {
  overflow: hidden;
}

.lg-backdrop {
  background-color: $tt-dark-theme-bg;
}

#lg-counter {
  color: gray;
}

.lg-sub-html,
.lg-toolbar,
.lg-actions .lg-next,
.lg-actions .lg-prev {
  background-color: $tt-dark-theme-bg-transp;
}