$tt-media-margin: 20px;

.tt-article {
  padding: 0 !important;
  .tt-member-card {
    margin: 0 auto !important;
    @media (min-width: 1200px) {
      width: 70%;
    }
  }

  @media (max-width: 1099px) {
    .tt-footer__legal-links {
      padding: 30px 0 100px 0;
    }
  }
}

.tt-article,
.tt-legal__cont {
  h1,
  h2,
  h3 {
    font-family: $article-header-font-family;
    text-transform: uppercase;
  }

  h2 {
    border-left: solid 3px $tt-sand;
    padding-left: 10px;
  }
}

.tt-article__category {
  font-family: Aurebesh;
  font-weight: bold;
  letter-spacing: 3px;
  color: $tt-rose;
}

.tt-article__info__social {
  margin: 50px 0;
}

.tt-article__info {
  margin-bottom: 50px;
  padding: 0;
  font-size: 0.9em;
  list-style-type: none;
  text-align: center;

  li:first-child {
    margin-bottom: 10px;
    position: relative;
  }

  i {
    display: inherit;
    color: $tt-text-light;
  }

  strong {
    font-family: $article-header-font-family;
    font-size: 1.3em;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

.tt-article__cont,
.tt-legal__cont {
  ul:not(.tt-article__info) {
    padding: 0;
    list-style-type: none;
    border-collapse: separate;
    border-spacing: 0 10px;
    line-height: 1.75rem;

    .fa-ellipsis-h {
      padding-right: 15px;
      color: $tt-rose;
    }

    li {
      display: table-row;

      &:before {
        content: " \f141";
        padding-right: 1.5rem;
        display: table-cell;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $tt-rose;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  ol {
    list-style-type: none;
    padding: 0;

    li {
      counter-increment: step;
      position: relative;
      font-size: 1rem;
      line-height: 1.75rem;
      margin-bottom: 1.5rem;
      padding-left: 4.5rem;

      &:before {
        content: counter(step, decimal-leading-zero);
        position: absolute;
        font-family: $article-header-font-family;
        top: 0;
        left: 0;
        font-size: 1.5625rem;
        line-height: 1.75rem;
        color: $tt-rose;
        width: 3rem;
        border-right: 3px solid $tt-sand;
      }
    }
  }

  .tt-quote {
    margin-top: $tt-media-margin;
    margin-bottom: 50px + $tt-media-margin;
    text-align: center;
    padding: 60px 30px 0;
    border-radius: 0 2rem;
    border-left: 0;
    border: 3px solid $tt-sand;
    font-size: inherit;
    font-weight: bold;
    font-style: italic;

    cite {
      color: $tt-rose;
    }
  }

  .tt-quote--dark {
    background-color: $tt-dark-theme-bg;
    color: white;
  }

  .tt-quote__info {
    padding-bottom: 20px;
  }

  .tt-quote__img {
    width: 100px;
    margin-bottom: -50px;
    border-radius: 50%;
    border: 3px solid $tt-sand;
    box-sizing: border-box;
  }

  a:not(.tt-btn) {
    padding: 1px 0;
    font-weight: bold;
    color: $tt-text-dark;
    box-shadow: inset 0 -3px 0 $tt-rose-transp;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $tt-text-dark;
      box-shadow: inset 0 -3px 0 $tt-rose;
    }
  }
}

.tt-article__header,
.tt-category__header {
  span {
    color: var(--category-color, $tt-rose);
  }

  h1:after,
  h2:after {
    border-bottom-color: var(--category-color, $tt-sand);
  }
}

.tt-article__spoiler {
  margin: 20px 0;
  padding: 30px 0;
  background-color: $tt-yellow;
  color: $tt-text-dark;
  text-align: center;
  position: relative;
  letter-spacing: 3px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 12px;
    width: 100%;
    background: $tt-text-dark;
    background: repeating-linear-gradient(
      -45deg,
      $tt-text-dark,
      $tt-text-dark 12px,
      transparent 10px,
      transparent 23px
    );
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  span {
    font-family: $watermark-font-family;
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
    border-left: 0;
    margin: 0;
    padding-left: 0;
  }
}

.tt-article__img {
  margin: $tt-media-margin 0;
  text-align: center;

  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.tt-article__img--regular {
  margin-left: -15px;
  margin-right: -15px;
}

.tt-article__img--full,
.tt-article__img--left,
.tt-article__img--right {
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: 768px) {
    padding-bottom: 45.25%;
  }

  @media (min-width: 1600px) {
    padding-bottom: 40.25%;
  }
}

.tt-masthead,
.tt-article__img--full__cont,
.tt-article__img--left__cont,
.tt-article__img--right__cont {
  img {
    display: none;
  }
}

.tt-article__img--full__cont {
  text-align: center;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.tt-article__img--left__cont {
  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;

    .tt-caption {
      text-align: right;
    }
  }
}

.tt-article__img--right__cont {
  @media (min-width: 768px) {
    float: right;
    padding-left: 0;
    padding-right: 0;

    .tt-caption {
      text-align: left;
    }
  }
}

.tt-article__img--gallery__cont {
  margin: $tt-media-margin 0;
  align-items: center;
  justify-content: center;

  .gallery__cont {
    position: relative;
  }

  .tt-caption {
    text-align: center;
  }
}

.tt-article__img--gallery {
  width: 100%;

  .swiper-wrapper {
    align-items: center;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;

      img {
        width: auto;
        height: 200px;
        opacity: 0.3;

        @media (min-width: 768px) {
          height: 300px;
        }

        @media (min-width: 992px) {
          height: 500px;
        }
      }
    }

    .swiper-slide-active {
      img {
        opacity: 1;
      }
    }
  }
}

iframe,
.fb-post,
.twitter-tweet,
.instagram-media {
  margin: $tt-media-margin auto !important;
}

iframe {
  width: 100%;
}

.fb-post {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;

  iframe {
    max-width: 100% !important;
  }
}

.tt-video__cont {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;

  .tt-caption {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.tt-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 !important;
  }
}

.tt-member-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  width: 100%;
  margin: 0 !important;
  padding: 0.6rem 0 !important;
  display: flex;

  .tt-social__icon {
    color: $tt-rose;

    &:hover,
    &:focus {
      color: $tt-rose;
      text-shadow: 0 0 5px $tt-rose;
    }
  }
}

.tt-member--bio {
  min-height: 200px;
  max-height: 200px;

  position: relative;
  overflow-x: hidden;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  word-break: break-word;

  p {
    margin-top: 0;
  }
}

.tt-member-card__inner {
  text-align: center;
  padding: 30px 20px;
  background-color: $tt-dark-theme-bg;
  color: white;
  border-radius: 0 2rem;
  border: solid 3px $tt-sand;
  width: 100%;
  height: 100%;
  margin-top: 120px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .tt-member-card__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 70%;
      border-radius: 50%;
      margin-top: -120px;
      border: solid 3px $tt-sand;
    }
  }

  .tt-header {
    margin: 30px 0 0 0;
  }
}

// Facebook Terms Styles
.fb-legal {
  font-size: 0.8em;
  margin-bottom: 20px;

  a {
    padding: 1px 0;
    font-weight: bold;
    color: $tt-text-dark;
    box-shadow: inset 0 -3px 0 $tt-rose-transp;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;
      color: $tt-text-dark;
      box-shadow: inset 0 -3px 0 $tt-rose;
    }
  }
}

.swp_social_panel {
  border: solid 3px $tt-sand !important;
  border-radius: 0 2rem !important;
  background-color: $tt-dark-theme-bg !important;
  z-index: 9;

  .total_shares:before,
  .total_shares span {
    color: white !important;
  }

  .nc_tweetContainer:not(.total_shares):not(.total_sharesalt) {
    border: none !important;
  }
}

.tt-img {
  padding: 0;
}

.tt-article__cta {
  text-align: center;

  .tt-btn {
    margin-top: 20px;
  }
}

.tt-article__back-to-series {
  text-align: center;

  .tt-btn {
    margin-top: 50px;
  }
}

.tt-lightgallery--item {
  cursor: pointer;
}

.lg-icon {
  color: $tt-rose !important;

  &:hover,
  &:focus {
    color: $tt-rose !important;
  }
}

.lg-on {
  overflow: hidden;
}

.lg-backdrop {
  background-color: $tt-dark-theme-bg;
}

#lg-counter {
  color: gray;
}

.lg-sub-html,
.lg-toolbar,
.lg-actions .lg-next,
.lg-actions .lg-prev {
  background-color: $tt-dark-theme-bg-transp;
}