.tt-footer__img {
  width: 100%;
  margin-bottom: -5px;
}

.tt-footer__cont {
  padding: 50px 0 100px 0;
  background-color: $tt-sand;
}

.tt-footer__logo {
  width: 100%;
  height: 0;
  padding: 0 0 24% 0;
  background-image: url("../img/tt-logo.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wpautoterms-footer {
  border-top: 1px solid $tt-dark-theme-border;
  background-color: $tt-dark-theme-bg;
  color: $tt-dark-theme-text;

  a {
    transition: all 0.2s ease-in;
    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
    }
  }

  a,
  .separator {
    color: $tt-dark-theme-text;
  }

  p {
    margin: 0;
  }
}
