footer {
  width: 100%;
}

.tt-footer__logo {
  display: inline-block;
  width: 30%;
}

.tt-footer--margin {
  margin-top: 50px;
}

.tt-footer__cont {
  display: flex;
  flex-direction: column;
}

.tt-footer {
  padding: 100px 0;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;

  text-align: center;
  font-size: 0.8em;
  color: $tt-sand-light;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $tt-dark-theme-bg-transp;
    z-index: 1;
  }

  & * {
    z-index: 99;
  }

  .tt-social,
  .tt-copyright,
  .tt-menu__items {
    margin-top: 20px;
  }

  .tt-copyright {
    span {
      display: block;
    }
  }

  .tt-menu__items {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .tt-menu__item {
    margin: 5px;
    font-family: $cta-font-family;
  }

  a {
    color: $tt-rose;

    img {
      width: 100%;
    }

    &:hover,
    &:focus {
      color: $tt-rose-dark;
      text-decoration: none;
    }
  }
}

.tt-footer__img {
  width: 100%;
  margin-bottom: -5px;
}

.tt-footer-orbit {
  margin-top: -$content-spacing;
}

.wpautoterms-footer {
  position: absolute;
  bottom: 0;
  border-top: 1px solid $tt-sand-transp;
  background-color: $tt-dark-theme-bg;
  color: $tt-dark-theme-text;

  a {
    transition: all 0.2s ease-in;
    &:hover,
    &:focus {
      color: white;
      text-decoration: none;
    }
  }

  a,
  .separator {
    color: $tt-dark-theme-text;
  }

  p {
    margin: 0;
  }
}