.tt-footer {
  width: 100%;
  padding: $tt-spacing-xl 0;
  position: relative;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  text-align: center;
  font-size: 0.8em;
  color: $tt-sand-light;

  .tt-social,
  .tt-copyright,
  .tt-menu__items {
    margin-top: $tt-spacing-sm;
  }

  .tt-copyright {
    span {
      display: block;
    }
  }

  .tt-menu__items {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: $tt-letter-spacing-md;
  }

  .tt-menu__item {
    font-family: $cta-font-family;
    font-weight: 300;
    margin: 5px;
  }

  a {
    color: $tt-sand;

    img {
      width: 100%;
      height: auto;
      image-rendering: -moz-crisp-edges; /* Firefox */
      image-rendering: -o-crisp-edges; /* Opera */
      image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
      image-rendering: crisp-edges;
      -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    }

    &:hover,
    &:focus {
      color: $tt-sand-dark;
    }
  }
}

.tt-footer__logo {
  display: inline-block;
  width: 30%;
}