// Colors
$tt-text-dark: #333;
$tt-text-light: lighten($tt-text-dark, 40%);
$tt-black-transp: transparentize(black, 0.3);
$tt-white-transp: transparentize(white, 0.9);
$tt-blue: #0db8fe;
$tt-blue-light: lighten($tt-blue, 27%);
$tt-blue-dark: #021855;
$tt-blue-dark-transp: transparentize($tt-blue-dark, 0.1);
$tt-blue-transp: transparentize($tt-blue, 0.7);
$tt-blue-super-transp: transparentize($tt-blue, 0.9);
$tt-green: #159a32;
$tt-green-light: #91f7a7;
$tt-green-transp: transparentize($tt-green, 0.4);
$tt-card-bg: #c6c2b9;
$tt-card-author: #696060;
$tt-yellow: #ffdb11;
$tt-red: #f63222;
$tt-red-transp: transparentize($tt-red, 0.7);
$tt-orange: #f77529;
$tt-orange-transp: transparentize($tt-orange, 0.7);
$tt-pink: #edccca;

// Aurebesh Font
@font-face {
  font-family: "Aurebesh";
  src: url("../fonts/Aurebesh.eot");
  src: url("../fonts/Aurebesh.eot") format("embedded-opentype"),
    url("../fonts/Aurebesh.woff2") format("woff2"),
    url("../fonts/Aurebesh.woff") format("woff"),
    url("../fonts/Aurebesh.ttf") format("truetype"),
    url("../fonts/Aurebesh.svg#Aurebesh") format("svg");
}

// Fluid Typography Styles
$min-width: 320px;
$max-width: 2000px;
$min-font: 16px;
$max-font: 20px;

$h1: 2em;
$h2: 1.7em;
$h3: 1.3em;

$baseline: 1.5rem;

$header-font-family: "News Cycle", sans-serif;
$body-font-family: "Lato", sans-serif;
$watermark-font-family: "Aurebesh";

// General styles
html,
body {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: $body-font-family;
  @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

// applied to body
.cont--hidden {
  overflow: hidden;
}

.vertical-align {
  height: 100%;
  display: flex;
  align-items: center;
}

p:not(.tt-cat__card__descr) {
  line-height: 1.75rem;
}

h1 {
  margin-top: calc((#{$baseline} - #{$h1}) + #{$baseline} * 2);
  @include fluid-type($min-width, $max-width, $min-font * 1.5, $max-font * 2.8);
}

h2 {
  margin-top: calc((#{$baseline} - #{$h2}) + #{$baseline} * 2);
  font-family: $header-font-family;
  @include fluid-type($min-width, $max-width, $min-font * 1.5, $max-font * 2.1);
  text-transform: uppercase;
}

h3 {
  margin-top: calc((#{$baseline} - #{$h3}) + #{$baseline} * 2);
  @include fluid-type($min-width, $max-width, $min-font * 1.1, $max-font * 1.5);
}

// Vertical Rhythm
h1,
h2,
h3 {
  margin-bottom: $baseline / 2;
  font-weight: bold;
}

h1,
h2,
h3 {
  font-family: $header-font-family;
}

// Slick Slide Base Styles
.slick-slide {
  outline: none !important;
}

// Button styles
.tt-btn {
  min-width: 200px;
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  border: 2px solid $tt-blue;
  box-shadow: 0 0 0 0 transparent;
  position: relative;
  display: inline-block;
  font-family: $header-font-family;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  outline: none !important;
  text-decoration: none;
  transition: all 0.2s ease-in;

  @media (min-width: 768px) {
    padding: 15px 40px;
  }

  &:before {
    content: "";
    width: 0px;
    height: 86%;
    background-color: white;
    box-shadow: 0 0 15px 3px white;
    position: absolute;
    top: 7%;
    left: 0%;
    display: block;
    opacity: 0;
    transform: skewX(-20deg);
  }

  &:hover,
  &:focus {
    color: white;
    box-shadow: 0 0 30px 0 $tt-blue-transp;
    background-color: $tt-blue;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:before {
      animation: shine 0.5s 0s linear;
    }
  }

  &:active {
    box-shadow: 0 0 0 0 transparent;
    transition: box-shadow 0.2s ease-in;
  }
}

// Button Shine Animation
@include keyframes-compatible(shine) {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}

.tt-btn--alt {
  color: white;
  background-color: $tt-red;
  border: 2px solid $tt-red;

  &:hover,
  &:focus {
    color: white;
    background-color: $tt-red;
    box-shadow: 0 0 30px 0 $tt-red-transp;
  }
}

// Search bar styles
.tt-search-bar {
  padding-top: 40px;
  text-align: center;

  input {
    padding: 7px 17px;
    border-radius: 10em;
    border: 1.5px solid $tt-blue-transp;
    outline: none;
    transition: all 0.2s ease-in-out;

    &::placeholder {
      color: $tt-blue-transp;
      font-family: "Font Awesome 5 Free", Aurebesh, sans-serif;
      font-weight: 900;
    }

    &:hover,
    &:focus {
      box-shadow: 0 0 5px 0 $tt-blue-transp;
    }
  }
}

// Arrow styles
.tt-arrow {
  div {
    width: 30px;
    height: 30px;
    border: 11px solid transparent;
    cursor: pointer;

    @media (min-width: 768px) {
      width: 40px;
      height: 40px;
    }

    &:before,
    &:after {
      content: "";
      width: inherit;
      height: inherit;
      border-bottom: 3px solid $tt-blue-transp;
      border-right: 3px solid $tt-blue-transp;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      transition: all 0.2s ease-in;
    }

    &:before {
      animation: top-arrow 1.65s infinite;
    }

    &:after {
      animation: bottom-arrow 1.65s infinite;
    }

    &:hover,
    &:focus {
      &:before,
      &:after {
        border-color: $tt-blue;
      }
    }
  }
}

.tt-arrow--left,
.tt-arrow--right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.tt-arrow--left {
  left: 45px;
  div {
    transform: rotate(135deg);
  }
}

.tt-arrow--right {
  right: 45px;
  div {
    transform: rotate(-45deg);
  }
}

.tt-arrow--scroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
  display: none;
  transform: translateX(-50%);

  div {
    transform: rotate(45deg);
  }
}

.tt-arrow--scroll-top {
  position: fixed;
  bottom: -10px;
  right: 15px;
  will-change: transform;
  display: none;

  @media (min-width: 768px) {
    right: 25px;
  }

  div {
    transform: rotate(225deg);
  }
}

@include keyframes-compatible(top-arrow) {
  0% {
    transform: translate(-6px, -6px);
  }
  35% {
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@include keyframes-compatible(bottom-arrow) {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  45% {
    opacity: 0;
    transform: translate(12px, 12px);
  }
  46% {
    opacity: 0;
    transform: translate(-16px, -16px);
  }
  90% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
  100% {
    opacity: 1;
    transform: translate(-6px, -6px);
  }
}

// Caption Styles
.tt-caption {
  padding: 5px;
  word-wrap: break-word;
  font-size: 0.7em;
}

// Magnific Popup Styles
.mfp-iframe-holder .mfp-content {
  @media (min-width: 900px) {
    max-width: 75vw;
  }
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

// Starfield Styles
.starfield {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

// Scanlines Styles
$scan-width: 3px;
$scan-crt: true;
$scan-fps: 30;
$scan-color: $tt-blue-super-transp;
$scan-z-index: 2147483648;
$scan-moving-line: true;
$scan-opacity: 0.75;

@mixin scan-crt($scan-crt) {
  @if $scan-crt==true {
    animation: scanlines 5s steps($scan-fps) infinite;
  } @else {
    animation: none;
  }
}

@mixin scan-moving($scan-moving-line) {
  @if $scan-moving-line==true {
    animation: scanline 1s linear infinite;
  } @else {
    animation: none;
  }
}

.scanline {
  position: relative;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    pointer-events: none;
  }

  &:before {
    width: 100%;
    height: $scan-width * 1;
    background: $scan-color;
    z-index: $scan-z-index + 1;
    opacity: $scan-opacity;
    @include scan-moving($scan-moving-line);
  }

  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      transparent 50%,
      $scan-color $scan-color 51%
    );
    background-size: 100% $scan-width * 2;
    z-index: $scan-z-index;
    @include scan-crt($scan-crt);
  }
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

// Masthead Styles
.tt-masthead {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (min-width: 768px) {
    padding-bottom: 45.25%;
  }

  @media (min-width: 1600px) {
    padding-bottom: 40.25%;
  }
}

.tt-masthead--overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize($tt-black-transp, 0.3);
}

.tt-masthead__logo-wrapper {
  width: 80%;

  @media (min-width: 768px) {
    width: 60%;
  }

  @media (min-width: 992px) {
    width: 40%;
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tt-masthead__logo {
  width: 100%;
  height: 0;
  padding-bottom: 19%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

// Social Module Styles
.tt-social {
  margin-top: 4vh;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.tt-social__icon {
  color: white;
  font-size: 1.5em;
  outline: none !important;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: white;
    text-shadow: 0 0 30px $tt-blue-transp;
  }
}

// Video Module Styles
.tt-video {
  margin: 20px 0;

  .tt-caption {
    text-align: center;
    display: block;
  }
}

.tt-video__cont {
  height: 0;
  padding-bottom: 56.25%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.tt-video__mask {
  width: 100%;
  height: 100%;
}

.tt-video__mask__svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent !important;
}

.tt-video__mask__svg,
.tt-video__poster {
  border-radius: 10px;
}

.tt-video__svg__bg {
  fill: black;
}

.tt-video__svg__triangle {
  fill: $tt-red;
}

.tt-video__svg__bars {
  fill: none;
  stroke: $tt-green;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.tt-video__svg__dots,
.tt-video__svg__arrow {
  fill: $tt-green;
}

.tt-video__svg__arrow {
  animation: move-up-down 2s infinite;
  animation-direction: alternate;
}

@include keyframes-compatible(move-up-down) {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-6%);
  }
}

.tt-video__time-stamp {
  padding: 0 18px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  background-color: $tt-green;
  color: $tt-green-light;
  transform: translateX(-50%);
  font-weight: 700;
}

.tt-video__btn {
  color: $tt-green-transp;
  position: absolute;
  top: 45%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -45%);
  outline: 0 !important;
  transition: all 0.3s ease-in-out;
  font-size: 2em;

  @media (min-width: 992px) {
    font-size: 3em;
  }

  &:hover,
  &:focus {
    color: $tt-green;
    text-decoration: none;
  }
}

.tt-video__poster {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

// Scrollable Area Styles
.simplebar-scrollbar:before {
  background: $tt-blue-transp;
}

.tt-scrollable {
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  word-break: break-word;

  p {
    margin-top: 0;
  }
}
