.tt-home__section {
  padding: 100px 0;
  overflow: hidden;
}

.tt-home__categories {
  position: relative;
  padding: 0;

  .swiper-wrapper {
    min-height: 80vh;
  }

  .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
  }

  .tt-header {
    h2:after {
      border-color: var(--category-color, $tt-sand);
    }

    span {
      color: var(--category-color, $tt-rose);
    }
  }

  .swiper-pagination {
    bottom: 25px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: $tt-rose-transp;
  }

  .swiper-pagination-bullet-active {
    background-color: $tt-rose;
  }

  .tt-arrow {
    display: none;
  }

  @media (min-width: 992px) {
    .tt-arrow {
      display: block;
    }
  }
}