.tt-home__descr {
  position: relative;
  padding: 100px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tt-home__section {
  margin: 100px 0;
  overflow: hidden;

  h2 {
    font-family: $article-header-font-family;
  }
}

.tt-home__categories .swiper-container {
    height: 90vh;
}

.tt-home__categories .swiper-slide {
  width: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.tt-home__categories {
  position: relative;

  .tt-header {
    h2:after {
      border-color: var(--category-color, $tt-sand);
    }

    span {
      color: var(--category-color, $tt-rose);
    }
  }

  .swiper-pagination {
    bottom: 25px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: $tt-rose-transp;
  }

  .swiper-pagination-bullet-active {
    background-color: $tt-rose;
  }

  .tt-arrow {
    display: none;
  }

  @media (min-width: 992px) {
    .tt-arrow {
      display: block;
    }
  }
}

.tt-home {
  background-color: black;
  color: white;
}

.tt-footer__home {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;

  .tt-social {
    margin-top: 0;

    .tt-social__icon {
      color: $tt-rose;
  
      &:hover,
      &:focus {
        color: $tt-rose;
        text-shadow: 0 0 5px $tt-rose;
      }
    }
  }
}

.tt-home__articles,
.tt-home__series {
  margin: 100px 15px;
}