.tt-legal__masthead {
  margin-bottom: 50px;
  padding: 50px 30px;
  text-align: center;
  background-color: black;

  h1 {
    margin: 0;
    padding: 0 15px;
    color: white;
    text-transform: uppercase;
  }
}

#wpautoterms-top-fixed-container {
  margin-top: 50px;
}

.wpautoterms-update-notice {
  font-size: 0.8em;
  border-bottom: 1px solid $tt-sand-transp;
  padding: 15px 10px;
  text-align: center;
  background-color: $tt-dark-theme-bg-transp;
  color: white !important;

  a {
    color: $tt-rose;

    &:hover,
    &:focus {
      color: $tt-rose;
      text-decoration: none;
    }
  }
}
