.tt-legal__masthead {
  margin-bottom: 50px;
  padding: 100px 30px;
  text-align: center;
  background-color: black;

  @media (min-width: 768px) {
    padding: 170px 30px;
  }

  h1 {
    margin: 0;
    padding: 0 15px;
    color: $tt-blue;
    font-family: $crawl-font-family;
    font-weight: 400;
    text-transform: inherit;
  }
}

.wpautoterms-update-notice {
  padding: 20px 10px;
  text-align: center;
  background-color: $tt-black-transp;
  color: white;

  a {
    color: $tt-green;

    &:hover,
    &:focus {
      color: $tt-green;
    }
  }
}

.menu-legal-links-container {
  margin-top: 8vh;
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      color: white;
      font-size: .8em;

      &:hover,
      &:focus {
        color: white;
      }
    }
  }
}
