.tt-navigation {
  position: fixed;
  width: 100%;
  z-index: 999999999;
  will-change: transform;
  transition: all 0.5s ease;
}

.tt-navigation.scrolled {
  background-color: $tt-matte-black-transp;
  box-shadow: 0 2px 2px -2px $tt-black-transp;
}

.tt-btn--menu {
  float: right;
  padding: 10px;
  // position: fixed;
  // will-change: transform;
  // top: 5px;
  // right: 5px;
  // display: inline-block;
  background: transparent;
  border: none;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;

  i {
    font-size: 2em;
    color: $tt-yellow;
    text-shadow: 0 0 10px $tt-yellow;
    transition: text-shadow 0.3s ease;

    &:hover,
    &:focus {
      color: $tt-yellow;
      text-decoration: none;
      text-shadow: 0 0 15px $tt-yellow;
    }
  }

  @media (min-width: 768px) {
    top: 10px;
    right: 10px;
  }
}

.tt-btn--menu--active {
  i {
    color: $tt-red;
    text-shadow: 0 0 10px $tt-red;

    &:hover,
    &:focus {
      color: $tt-red;
      text-shadow: 0 0 15px $tt-red;
    }
  }
}

// .tt-menu {
//   width: 100%;
//   height: 100%;
//   max-height: 100%;
//   position: fixed;
//   will-change: transform;
//   top: 0;
//   left: 0;
//   display: none;
//   z-index: 99999999;
//   overflow: hidden;
//   letter-spacing: 5px;
// }

.tt-menu__cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: black;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tt-menu__logo-cont {
  padding: 30px;
  border-bottom: 1px solid $tt-dark-theme-border;

  .tt-menu__logo {
    width: 100%;
    height: 0;
    padding-bottom: 25%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// .tt-menu__list-cont {
//   position: relative;
//   overflow: hidden;

//   &:before,
//   &:after {
//     content: "";
//     width: 100%;
//     height: 20%;
//     position: absolute;
//     left: 0;
//     z-index: 999;
//   }

//   &:before {
//     top: 0;
//     background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 30%);
//   }

//   &:after {
//     bottom: 0;
//     background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 30%);
//   }
// }

// .tt-menu__list {
//   display: flex;
//   align-items: center;
//   flex-direction: column;

//   .tt-menu__list-wrapper {
//     display: flex;
//     align-items: center;
//   }
// }

// .tt-arrow--up,
// .tt-arrow--down {
//   &:hover,
//   &:focus {
//     outline: none;
//   }

//   i {
//     font-size: 4em;
//     color: $tt-red;
//     text-shadow: 0 0 10px $tt-red;
//     transition: text-shadow 0.3s ease;
//     cursor: pointer;

//     &:hover,
//     &:focus {
//       color: $tt-red;
//       text-shadow: 0 0 15px $tt-red;
//     }
//   }
// }

// .tt-arrow--up {
//   margin-top: 40px;
// }

// .tt-arrow--down {
//   margin-bottom: 40px;
// }

.tt-menu {
  background-color: $tt-dark-theme-bg;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $tt-dark-theme-border;

  .tt-social {
    margin: 0;
    padding: 0;
    border-top: 1px solid $tt-dark-theme-border;
    border-bottom: 1px solid $tt-dark-theme-border;

    li {
      padding: 30px;
      cursor: pointer;

      &:hover,
      &:focus {
        // background-color: $tt-dark-theme-bg-light;

        .tt-social__icon {
          color: $tt-orange;
          text-shadow: 0 0 5px $tt-orange;
        }
      }

      &:not(:last-child) {
        border-right: 1px solid $tt-dark-theme-border;
      }

      .tt-social__icon {
        color: $tt-orange;
      }
    }
  }
}

.tt-menu__items {
  padding: 0;
  margin: 0;
  flex: 2;
}

.tt-menu__item {
  list-style-type: none;
  transition: all 0.2s ease-in;
  outline: none;
  cursor: pointer;

  border-bottom: 1px solid $tt-dark-theme-border;

  &:hover,
  &:focus {
    background-color: $tt-dark-theme-bg-light;

    a {
      color: white !important;
    }
  }

  a {
    display: block;
    padding: 30px;
    color: $tt-dark-theme-text;
    border-left: solid 3px transparent;
    &:hover,
    &:focus {
      border-left: solid 3px $tt-orange;
      text-decoration: none;
    }
  }
}

// .tt-menu__list,
// .tt-menu__list-wrapper,
// .tt-menu__item {
//   height: 100%;
// }

// .tt-menu__item {
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 0px 15px 0px 15px;
//   text-transform: uppercase;

//   a {
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     flex-direction: column;

//     &:hover,
//     &:focus {
//       outline: none;
//     }

//     .tt-menu__item-head {
//       margin-bottom: -5px;
//       color: white;
//       text-shadow: 0 0 10px white;
//       transition: text-shadow 0.3s ease;
//       font: 700 0.7rem $watermark-font-family;
//     }

//     &:hover .tt-menu__item-head,
//     &:focus .tt-menu__item-head {
//       text-shadow: 0 0 15px white;
//     }

//     .tt-menu__item-title {
//       color: $tt-yellow;
//       text-shadow: 0 0 10px $tt-yellow;
//       transition: text-shadow 0.3s ease;
//       font: 700 2.2rem $header-font-family;

//       @media (min-width: 768px) {
//         font-size: 3rem;
//       }
//     }

//     &:hover .tt-menu__item-title,
//     &:focus .tt-menu__item-title {
//       text-shadow: 0 0 15px $tt-yellow;
//     }
//   }
// }

// .tt-menu__social {
//   margin-bottom: 40px;

// }

// .tt-menu__social {
//   width: 70%;
//   flex-basis: auto;
//   flex-grow: 0;
//   flex-shrink: 0;

//   @media (min-width: 768px) {
//     width: 35%;
//   }

//   @media (min-width: 992px) {
//     width: 25%;
//   }
// }

#tt-menu__btn {
  background-color: $tt-dark-theme-bg;
  border-right: 1px solid $tt-dark-theme-border;
  border-bottom: 1px solid $tt-dark-theme-border;
  cursor: pointer;
  position: fixed;
  will-change: transform;
  left: 0;
  top: 0;
  z-index: 999999;
  padding: 30px;

  &.is-active {
    span {
      transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48),
      width 0.6s ease-in;

      &:first-child {
        transform: rotate(45deg) translate(10px, -22px);
      }

      &:nth-child(2) {
        transform: rotate(-45deg);
      }

      &:last-child {
        transform: rotate(45deg) translate(45px, -32px);
        width: 75px;
      }
    }
  }

  span {
    display: block;
    height: 15px;
    background-color: white;
    border-radius: 100px;
    transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48),
    width 0.6s ease-out;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:first-child {
      transform-origin: 0 50%;
      width: 75px;
    }

    &:nth-child(2) {
      width: 150px;
    }

    &:last-child {
      transform-origin: 100% 50%;
      width: 115px;
    }
  }
}

.tt-content--overlay:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize($tt-dark-theme-bg, 0.2);
}