#navigation {
  opacity: 0;
  width: 70vw !important;
  left: -70vw !important;

  @media (min-width: 768px) {
    width: 30vw !important;
    left: -30vw !important;
  }
}

.nav-open {
  transform: translate3d(70vw, 0px, 0px) !important;
  @media (min-width: 768px) {
    transform: translate3d(30vw, 0px, 0px) !important;
  }
}

.tt-content--overlay {
  transform: translate3d(70vw, 0px, 0px) !important;

  @media (min-width: 768px) {
    transform: translate3d(30vw, 0px, 0px) !important;
  }
}

.tt-menu__logo-cont {
  padding: 30px;
  border-bottom: 1px solid $tt-dark-theme-border;

  .tt-menu__logo {
    width: 100%;
    height: 0;
    padding-bottom: 25%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.tt-menu {
  background-color: $tt-dark-theme-bg;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $tt-dark-theme-border;
  overflow-x: hidden;

  .simplebar-scroll-content {
    margin-bottom: 0 !important;
  }

  .simplebar-content {
    padding-bottom: 0 !important;
  }

  .tt-social {
    margin: 0;
    padding: 30px 10px;
    border-top: 1px solid $tt-dark-theme-border;

    li {
      cursor: pointer;

      .tt-social__icon {
        color: $tt-rose;

        &:hover,
        &:focus {
          color: $tt-rose;
          text-shadow: 0 0 5px $tt-rose;
        }
      }
    }
  }
}

.tt-menu__items {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  flex: 2;
}

.tt-menu__item {
  list-style-type: none;
  transition: all 0.2s ease-in;
  outline: none;
  cursor: pointer;

  border-bottom: 1px solid $tt-dark-theme-border;

  &:hover,
  &:focus {
    background-color: $tt-dark-theme-bg-light;

    a {
      color: white !important;
    }
  }

  a {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: $tt-dark-theme-text;
    border-left: solid 3px transparent;
    &:hover,
    &:focus {
      border-left: solid 3px $tt-rose;
      text-decoration: none;
    }
  }
}

.tt-menu__item-cat {
  a {
    &:hover,
    &:focus {
      border-left: solid 3px var(--category-color);
    }
  }
}

#tt-menu__btn {
  border-right: 1px solid $tt-dark-theme-border;
  border-bottom: 1px solid $tt-dark-theme-border;
  position: fixed;
  display: flex;
  will-change: transform;
  left: 0;
  top: 0;
  z-index: 999999;
  border-bottom-right-radius: 10px;
  transition: all 0.5s ease 0s;
}

.tt-content--overlay:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize($tt-dark-theme-bg, 0.2);
  z-index: 99;
}

// menu hamburger
$hamburger-padding-x: 10px !default;
$hamburger-padding-y: 10px !default;
$hamburger-layer-width: 40px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-color: $tt-rose !default;
$hamburger-layer-border-radius: 0 !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-active-layer-color: $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

.hamburger {
  outline: none;
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: $tt-dark-theme-bg;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    outline: none;
  }

  &.is-active {
    transform: translate3d(70vw, 0px, 0px);

    @media (min-width: 768px) {
      transform: translate3d(30vw, 0px, 0px);
    }

    &:hover {
      outline: none;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $hamburger-active-layer-color;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 3;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.hamburger--emphatic {
  overflow: hidden;

  .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in;

    &::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
        top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
    }

    &::after {
      top: ($hamburger-layer-height) + ($hamburger-layer-spacing);
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
        top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
    }
  }

  &.is-active {
    .hamburger-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent !important;

      &::before {
        left: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d(
            $hamburger-layer-width * 2,
            $hamburger-layer-width * 2,
            0
          )
          rotate(45deg);
        transition: left 0.125s ease-out, top 0.05s 0.125s linear,
          transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &::after {
        right: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d(
            $hamburger-layer-width * -2,
            $hamburger-layer-width * 2,
            0
          )
          rotate(-45deg);
        transition: right 0.125s ease-out, top 0.05s 0.125s linear,
          transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}
