.tt-navigation {
  position: fixed;
  width: 100%;
  z-index: 999999999;
  will-change: transform;
  transition: all 0.5s ease;
}

.tt-navigation.scrolled {
  background-color: $tt-dark-theme-bg;
  box-shadow: 0 2px 2px -2px $tt-black-transp;
}

.tt-btn--menu {
  float: right;
  padding: 10px;
  // position: fixed;
  // will-change: transform;
  // top: 5px;
  // right: 5px;
  // display: inline-block;
  background: transparent;
  border: none;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease;

  i {
    font-size: 2em;
    color: $tt-rose;
    text-shadow: 0 0 10px $tt-rose;
    transition: text-shadow 0.3s ease;

    &:hover,
    &:focus {
      color: $tt-rose;
      text-decoration: none;
      text-shadow: 0 0 5px $tt-rose;
    }
  }

  @media (min-width: 768px) {
    top: 10px;
    right: 10px;
  }
}

.tt-btn--menu--active {
  i {
    color: $tt-red;
    text-shadow: 0 0 10px $tt-red;

    &:hover,
    &:focus {
      color: $tt-red;
      text-shadow: 0 0 5px $tt-red;
    }
  }
}

#navigation {
  width: 70vw !important;
  left: -70vw !important;

  @media (min-width: 768px) {
    width: 30vw !important;
    left: -30vw !important;
  }
}

.nav-open {
  transform: translate3d(70vw, 0px, 0px) !important;
  @media (min-width: 768px) {
    transform: translate3d(30vw, 0px, 0px) !important;
  }
}

.tt-content--overlay {
  transform: translate3d(70vw, 0px, 0px) !important;

  @media (min-width: 768px) {
    transform: translate3d(30vw, 0px, 0px) !important;
  }
}

// .tt-menu {
//   width: 100%;
//   height: 100%;
//   max-height: 100%;
//   position: fixed;
//   will-change: transform;
//   top: 0;
//   left: 0;
//   display: none;
//   z-index: 99999999;
//   overflow: hidden;
//   letter-spacing: 5px;
// }

.tt-menu__cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  background-color: black;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tt-menu__logo-cont {
  padding: 30px;
  border-bottom: 1px solid $tt-dark-theme-border;

  .tt-menu__logo {
    width: 100%;
    height: 0;
    padding-bottom: 25%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

// .tt-menu__list-cont {
//   position: relative;
//   overflow: hidden;

//   &:before,
//   &:after {
//     content: "";
//     width: 100%;
//     height: 20%;
//     position: absolute;
//     left: 0;
//     z-index: 999;
//   }

//   &:before {
//     top: 0;
//     background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 30%);
//   }

//   &:after {
//     bottom: 0;
//     background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 30%);
//   }
// }

// .tt-menu__list {
//   display: flex;
//   align-items: center;
//   flex-direction: column;

//   .tt-menu__list-wrapper {
//     display: flex;
//     align-items: center;
//   }
// }

// .tt-arrow--up,
// .tt-arrow--down {
//   &:hover,
//   &:focus {
//     outline: none;
//   }

//   i {
//     font-size: 4em;
//     color: $tt-red;
//     text-shadow: 0 0 10px $tt-red;
//     transition: text-shadow 0.3s ease;
//     cursor: pointer;

//     &:hover,
//     &:focus {
//       color: $tt-red;
//       text-shadow: 0 0 15px $tt-red;
//     }
//   }
// }

// .tt-arrow--up {
//   margin-top: 40px;
// }

// .tt-arrow--down {
//   margin-bottom: 40px;
// }

.tt-menu {
  background-color: $tt-dark-theme-bg;
  display: flex;
  flex-direction: column;
  border-right: 1px solid $tt-dark-theme-border;
  overflow-x: hidden;

  .tt-social {
    margin: 0;
    padding: 30px 10px;
    border-top: 1px solid $tt-dark-theme-border;

    li {
      cursor: pointer;

      .tt-social__icon {
        color: $tt-rose;

        &:hover,
        &:focus {
          color: $tt-rose;
          text-shadow: 0 0 5px $tt-rose;
        }
      }
    }
  }
}

.tt-menu__items {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  flex: 2;
}

.tt-menu__items--cat {
  a {
    &:hover,
    &:focus {
      border-left: solid 3px var(--category-color);
    }
  }
}

.tt-menu__item {
  list-style-type: none;
  transition: all 0.2s ease-in;
  outline: none;
  cursor: pointer;

  border-bottom: 1px solid $tt-dark-theme-border;

  &:hover,
  &:focus {
    background-color: $tt-dark-theme-bg-light;

    a {
      color: white !important;
    }
  }

  a {
    display: block;
    padding: 30px;
    color: $tt-dark-theme-text;
    border-left: solid 3px transparent;
    &:hover,
    &:focus {
      border-left: solid 3px $tt-rose;
      text-decoration: none;
    }
  }
}

.tt-menu__item-cat {
  a {
    &:hover,
    &:focus {
      border-left: solid 3px var(--category-color);
    }
  }
}

// .tt-menu__list,
// .tt-menu__list-wrapper,
// .tt-menu__item {
//   height: 100%;
// }

// .tt-menu__item {
//   text-align: center;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 0px 15px 0px 15px;
//   text-transform: uppercase;

//   a {
//     text-decoration: none;
//     display: flex;
//     align-items: center;
//     flex-direction: column;

//     &:hover,
//     &:focus {
//       outline: none;
//     }

//     .tt-menu__item-head {
//       margin-bottom: -5px;
//       color: white;
//       text-shadow: 0 0 10px white;
//       transition: text-shadow 0.3s ease;
//       font: 700 0.7rem $watermark-font-family;
//     }

//     &:hover .tt-menu__item-head,
//     &:focus .tt-menu__item-head {
//       text-shadow: 0 0 15px white;
//     }

//     .tt-menu__item-title {
//       color: $tt-yellow;
//       text-shadow: 0 0 10px $tt-yellow;
//       transition: text-shadow 0.3s ease;
//       font: 700 2.2rem $header-font-family;

//       @media (min-width: 768px) {
//         font-size: 3rem;
//       }
//     }

//     &:hover .tt-menu__item-title,
//     &:focus .tt-menu__item-title {
//       text-shadow: 0 0 15px $tt-yellow;
//     }
//   }
// }

// .tt-menu__social {
//   margin-bottom: 40px;

// }

// .tt-menu__social {
//   width: 70%;
//   flex-basis: auto;
//   flex-grow: 0;
//   flex-shrink: 0;

//   @media (min-width: 768px) {
//     width: 35%;
//   }

//   @media (min-width: 992px) {
//     width: 25%;
//   }
// }

#tt-menu__btn {
  // background-color: $tt-dark-theme-bg;
  border-right: 1px solid $tt-dark-theme-border;
  border-bottom: 1px solid $tt-dark-theme-border;
  // cursor: pointer;
  position: fixed;
  will-change: transform;
  left: 0;
  top: 0;
  z-index: 999999;
  border-bottom-right-radius: 40%;
  transition: all 0.5s ease 0s;
  // transform: translate3d(-30vw, 0, 0);

  // &.is-active {
  //   position: sticky;
  // }
  // padding: 30px;

  // &.is-active {
  //   span {
  //     transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48),
  //     width 0.6s ease-in;

  //     &:first-child {
  //       transform: rotate(45deg) translate(10px, -22px);
  //     }

  //     &:nth-child(2) {
  //       transform: rotate(-45deg);
  //     }

  //     &:last-child {
  //       transform: rotate(45deg) translate(45px, -32px);
  //       width: 75px;
  //     }
  //   }
  // }

  // span {
  //   display: block;
  //   height: 15px;
  //   background-color: white;
  //   border-radius: 100px;
  //   transition: transform 0.6s cubic-bezier(0.54, 0.1, 0.42, 1.48),
  //   width 0.6s ease-out;

  //   &:not(:last-child) {
  //     margin-bottom: 30px;
  //   }

  //   &:first-child {
  //     transform-origin: 0 50%;
  //     width: 75px;
  //   }

  //   &:nth-child(2) {
  //     width: 150px;
  //   }

  //   &:last-child {
  //     transform-origin: 100% 50%;
  //     width: 115px;
  //   }
  // }
}

.tt-content--overlay:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize($tt-dark-theme-bg, 0.2);
  z-index: 99;
}

// MENU HAMBURGER
$hamburger-padding-x: 15px !default;
$hamburger-padding-y: 15px !default;
$hamburger-layer-width: 40px !default;
$hamburger-layer-height: 4px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-color: $tt-rose !default;
$hamburger-layer-border-radius: 0 !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-active-layer-color: $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;

.hamburger {
  outline: none;
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: $tt-dark-theme-bg;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    // @if $hamburger-hover-use-filter == true {
    //   filter: $hamburger-hover-filter;
    // } @else {
    //   opacity: $hamburger-hover-opacity;
    // }
    outline: none;
  }

  &.is-active {
    // transition: all 0.5s ease 0s;
        transform: translate3d(70vw, 0px, 0px);

        @media (min-width: 768px) {
          transform: translate3d(30vw, 0px, 0px);
        }


    // transition: all 0.5s ease 0s; -webkit-tap-highlight-color: transparent; transform: translate3d(30vw, 0px, 0px);
    &:hover {
      // @if $hamburger-hover-use-filter == true {
      //   filter: $hamburger-active-hover-filter;
      // } @else {
      //   opacity: $hamburger-active-hover-opacity;
      // }
      outline: none;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $hamburger-active-layer-color;
    }
  }
}

.hamburger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 3;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}

.hamburger--emphatic {
  overflow: hidden;

  .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in;

    &::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
        top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
    }

    &::after {
      top: ($hamburger-layer-height) + ($hamburger-layer-spacing);
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
        top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
    }
  }

  &.is-active {
    .hamburger-inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent !important;

      &::before {
        left: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d(
            $hamburger-layer-width * 2,
            $hamburger-layer-width * 2,
            0
          )
          rotate(45deg);
        transition: left 0.125s ease-out, top 0.05s 0.125s linear,
          transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &::after {
        right: $hamburger-layer-width * -2;
        top: $hamburger-layer-width * -2;
        transform: translate3d(
            $hamburger-layer-width * -2,
            $hamburger-layer-width * 2,
            0
          )
          rotate(-45deg);
        transition: right 0.125s ease-out, top 0.05s 0.125s linear,
          transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}
