.tt-series__section {
  margin-top: 100px;
}

.tt-series__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tt-series__logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 25px;
  border-radius: 0 2rem;
  border: solid $border-baseline $tt-sand;
  width: 100%;
  position: relative;
  margin-top: 2%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 0.6rem 0 !important;

  @media (min-width: 768px) {
    margin: 0.6rem !important;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    box-shadow: 0 0 5px 0 $tt-sand;
  }

  @media (min-width: 48rem) {
    width: 49%;
  }

  @media (min-width: 62rem) {
    width: 23.5%;
  }

  &:before {
    content: "";
    float: left;
    padding-top: 100%;
  }

  .tt-series__logo-bg {
    position: absolute;
    background-size: cover;
    right: 0;
    top: 0;
    left: 0;
    border-radius: 0 2rem;
    bottom: 0;
    overflow: hidden;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparentize($tt-black-transp, 0.3);
    }
  }

  img {
    width: 100%;
    z-index: 1;
  }
}

.tt-series__slide {
  padding: 0 15px;
}