.tt-series__section {
  padding: 100px 0;
  text-align: center;
  background: $tt-dark-linear-gradient;
  color: white;
}

.tt-series__logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tt-series__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  border: solid $border-baseline $tt-dark-theme-bg-light;
  border-radius: 0 2rem;
  width: 100%;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 0.6rem 0 !important;

  @media (min-width: 768px) {
    margin: 0.6rem !important;
  }

  &:hover,
  &:focus {
    background-color: $tt-dark-theme-bg-light;
    border: solid $border-baseline $tt-rose;
    text-decoration: none;
    box-shadow: 0 0 5px 0 $tt-rose;
  }

  @media (min-width: 48rem) {
    width: 49%;
  }

  @media (min-width: 62rem) {
    width: 23.5%;
  }

  img {
    width: 100%;
    z-index: 1;
  }
}

.tt-series__slide {
  padding: 0 15px;
}

.tt-series__header {
  text-align: center;
  img {
    width: 80%;
  }

  margin: 0 0 20px;
}

.tt-series__descr {
  margin: 0;
  padding: 50px 0;
  background: $tt-dark-linear-gradient;
  color: white;
}