.tt-team {
  min-height: 100vh;
  background-color: black;
  color: white;
}

.tt-team__descr {
  padding: 50px 0 20px 0;

  @media (min-width: 768px) {
    padding: 80px 0 50px 0;
  }
  text-align: center;
}

.tt-member-cards__cont {
  padding: 0 15px;
}

.tt-member-cards {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  .tt-member-card {
    @media (min-width: 768px) {
      width: 50%;
      padding: 0.6rem !important;
    }

    @media (min-width: 992px) {
      width: 33.3333%;
    }

    .tt-member-card__inner {
      background-color: $tt-dark-theme-bg-transp;
    }
  }
}

.tt-member-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  width: 100%;
  margin: 0 !important;
  padding: 0.6rem 0 !important;
  display: flex;

  .tt-social__icon {
    color: $tt-rose;

    &:hover,
    &:focus {
      color: $tt-rose;
      text-shadow: 0 0 5px $tt-rose;
    }
  }
}

.tt-member-card--portrait {
  .tt-member-card__inner {
    text-align: center;
    padding: 30px 20px;

    .tt-header {
      margin: 30px 0 0 0;
    }
  }

  .tt-member-card__img {
    flex-direction: column;
  }
}

.tt-member--bio {
  min-height: 200px;
  max-height: 200px;

  position: relative;
  overflow-x: hidden;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  word-break: break-word;

  p {
    margin-top: 0;
  }
}

.tt-member-card__inner {
  background-color: $tt-dark-theme-bg;
  color: white;
  border-radius: 2rem;
  border: solid 3px $tt-sand;
  width: 100%;
  height: 100%;
  margin-top: 120px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  .tt-member-card__img {
    display: flex;
    align-items: center;
    img {
      width: 70%;
      border-radius: 50%;
      margin-top: -120px;
      border: solid 3px $tt-sand;
    }
  }
}
